.game1{
  
  background-color: Blue;
  color: white;
  border: 2px solid white;
  padding: 10px;
  
}
.game2{
  
  background-color: red;
  color: white;
  border: 2px solid white;
  padding: 10px;
  
}

.game1, .game2 {
  margin-bottom: 16px;
}
body{
  background-color: black;
}
